<div class="LeadsPanel LeftOfferings">
    <div></div>
    <h1>Leads <span class="caret pull-right"></span></h1>
    <div class="Leads">
        <div class="wrapper" *ngFor="let item of leads">
            <span class="heading">{{item.leadId}}</span>
            <div class="clearfix"></div>
            <div *ngIf="item.quotes">
                <div class="wrapper" *ngFor="let quote of item.quotes">
                    <span>{{quote.quoteId}}</span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>