<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Autoscoop</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="profile">
                <img src="images/profile.jpg"> <span>hi! Jackson</span><span class="caret"></span>
                <ul class="Dropdown">
                    <li><a href="javascript:void()">Subscription Details</a></li>
                    <li><a href="javascript:void()">Area of Operations</a></li>
                    <li><a href="javascript:void()">Vehicles & Brands</a></li>
                    <li><a href="javascript:void()">Service Offered</a></li>
                    <li><a href="javascript:void()">Operational Times</a></li>
                    <li><a href="javascript:void()">Loyal Details</a></li>
                    <li><a href="javascript:void()">Logout</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="defaultNavbar1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Inventory Management<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lead Management</a></li>
                    <li class="dropdown">
                        <a routerLink="/resources" routerLinkActive="active">Resource Management<span class="caret"></span></a>
                        <!--<ul class="dropdown-menu" role="menu">
                            <li><a href="resource-management.html">Add / Manage Resource</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>-->
                    </li>
                    <li><a href="#">Test Drive</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
