    /*
    Flaticon icon font: Flaticon
    Creation date: 31/07/2017 20:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-social-1:before { content: "\f100"; }
.flaticon-closed-envelope-circle:before { content: "\f101"; }
.flaticon-transport:before { content: "\f102"; }
.flaticon-cogwheel:before { content: "\f103"; }
.flaticon-twitter-logo:before { content: "\f104"; }
.flaticon-work-tools-cross:before { content: "\f105"; }
.flaticon-social:before { content: "\f106"; }
.flaticon-money-bag-with-dollar-symbol:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-car-in-garage:before { content: "\f109"; }
.flaticon-frontal-taxi-cab:before { content: "\f10a"; }
.flaticon-google-plus:before { content: "\f10b"; }
.flaticon-umbrella:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }
.flaticon-profile:before { content: "\f10f"; }
.flaticon-car-steering-wheel:before { content: "\f110"; }
    
    $font-Flaticon-social-1: "\f100";
    $font-Flaticon-closed-envelope-circle: "\f101";
    $font-Flaticon-transport: "\f102";
    $font-Flaticon-cogwheel: "\f103";
    $font-Flaticon-twitter-logo: "\f104";
    $font-Flaticon-work-tools-cross: "\f105";
    $font-Flaticon-social: "\f106";
    $font-Flaticon-money-bag-with-dollar-symbol: "\f107";
    $font-Flaticon-money: "\f108";
    $font-Flaticon-car-in-garage: "\f109";
    $font-Flaticon-frontal-taxi-cab: "\f10a";
    $font-Flaticon-google-plus: "\f10b";
    $font-Flaticon-umbrella: "\f10c";
    $font-Flaticon-next: "\f10d";
    $font-Flaticon-back: "\f10e";
    $font-Flaticon-profile: "\f10f";
    $font-Flaticon-car-steering-wheel: "\f110";